.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    /* the height 100% makes the chat section didnt collapse */
    height: 100%;
    background-color: #242323;
    gap: 10px;
    padding-top: 20px;
}